body {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
  background-color: #2e2e2e;
}

h1,
h2,
.btn-avisar,
#curriculo li::marker {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-transform: uppercase;
  color: #b3fe05;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  font-size: 1.1em;
}

header {
  padding: 32px 24px 56px;
  background-color: #000;
}

header h1,
header h2 {
  margin: 0;
}

header h1 {
  font-size: 2em;
}

header h2 {
  font-size: 1em;
  color: #fff;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav li a {
  text-decoration: none;
}

.wrap {
  max-width: 1024px;
  margin: auto;
}

section {
  padding: 20px;
}

#sobre,
#conteudo {
  background: #000;
}

.call-action {
  background: #505050;
}

.call-action .botoes {
  margin: 4px 0;
}

iframe {
  aspect-ratio: 16 / 9;
  height: 100%;
  width: 100%;
}

#inscricao {
  background-color: #000;
}
#inscricao h2 {
  color: #b3fe05;
}

.btn-avisar div {
  text-decoration: none;
  background-color: #b3fe05;
  /* margin: auto; */
  display: block;
  padding: 16px 40px;
  border-radius: 4px;
  max-width: 120px;
  color: #000;
}

.aulas,
.botoes {
  display: flex;
  column-gap: 1em;
  margin-bottom: 1em;
}

.aulas li,
.botoes li {
  width: 50%;
}

.botoes {
  text-align: center;
}

.botoes li a {
  padding: 16px 0;
  background: #000;
  border: solid 2px #000;
  display: inline-block;
  min-width: 100%;
  border-radius: 24px;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}

.botoes li a.outline {
  background: none;
  border: solid 2px #333;
  color: #fff;
}

.botoes li a:hover,
.botoes li a.outline:hover {
  background: #b3fe05;
  border: solid 2px #b3fe05;
  color: #000;
}

.flex {
  display: flex;
  column-gap: 1em;
}

#autor img {
  border-radius: 50%;
}

#autor li p:first-child {
  margin-top: 0;
}

#curriculo li {
  list-style: square;
  padding: 4px;
  margin-left: 18px;
}

/**/
input[type="checkbox"] {
  display: none;
}
.lbl-toggle {
  display: block;

  font-size: 1.2rem;
  padding: 1rem;

  color: #c0c0c0;
  background: #000;

  cursor: pointer;

  border-radius: 7px;
  /* transition: all 0.25s ease-out; */

  margin-top: 8px;
}

.lbl-toggle:hover {
  color: #fff;
}

.lbl-toggle::before {
  content: " ";
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;

  vertical-align: middle;
  margin-right: 0.7rem;
  transform: translateY(-2px);

  transition: transform 0.2s ease-out;
}

.collapsible-content .content-inner {
  background: rgba(0, 0, 0, 0.2);

  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: 0.5rem 1rem;
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;

  transition: max-height 0.25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100vh;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.quote {
  border-left: solid 4px #b3fe05;
  padding: 18px;
}

.quote p.sizeM {
  margin: 0 0 12px;
}

.quote small {
  color: #ccc;
}

.sizeM {
  font-size: 22px;
}

/**/
@media only screen and (max-width: 600px) {
  .aulas,
  .botoes {
    row-gap: 1em;
    flex-direction: column;
  }
  .aulas li,
  .botoes li {
    width: 100%;
  }
}

#autor a {
  color: #fff;
}

footer {
  text-align: center;
  padding: 24px;
}

footer p {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 14px;
}

footer small {
  font-size: 12px;
  color: #b9b9b9;
}
